# LangChain Core
langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-text-splitters
langchain-chroma
langchain-classic

# OpenAI
openai
tiktoken

# Vector / RAG
faiss-cpu
sentence-transformers

# LLM + SQL
sqlalchemy
pandasql
duckdb

# Data & ML
numpy
pandas
scikit-learn
matplotlib
plotly
tabulate

# Web / UI
streamlit
streamlit-extras
altair
beautifulsoup4

# AWS
boto3

# Utilities
python-dotenv
language-tool-python
pydantic
pydantic[email]
grandalf
